@model CRM.ModelsForView.StudentListView
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "List";
    var baseUrl = ViewBag.BaseUrl;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Admission</a></li>
                        <li class="breadcrumb-item active"><a href="#">List</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap4">
                   
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Filters</legend>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Session</label>
                                        <select id="ddlSession" asp-items="Model.SessionList" class="form-control"> <option>Select</option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Year</label>
                                    <select id="ddlYear" asp-items="Model.YearList" class="form-control"> <option>Select</option></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Class</label>
                                    <select id="ddlClass" asp-items="Model.ClassList" class="form-control"> <option>Select</option></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Course</label>
                                    <select id="ddlCourse" asp-items="Model.SubjectList" class="form-control"> <option>Select</option></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Name</label>
                                <input id="txtSearch" class="form-control" type="search" placeholder="Search" aria-label="Search">
                            </div>


                            <input type="hidden" id="hdnSelected" />
                        </div>

                        <div class="row" style="margin-bottom:5px !important">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-2">
                                <button type="button" id="btnSearch" onclick="SearchStudent()" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                            </div>
                            <div class="col-md-1">
                                <button type="reset" class="btn btn-default" onclick="Reset()"><i class="fas fa-gear"></i> Reset</button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-info btn-flat">Action</button>
                                <button type="button" class="btn btn-info btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" role="menu" style="">
                                    <a class="btn btn-default" onclick="AdmissionCompleted()"><i class="fas fa-eye"></i> Admission Done</a>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <form id="frmDownloadExcel" method="post" action="DownloadExcel">
                                    <input type="hidden" name="hdnExcelSession" id="hdnExcelSession" />
                                    <input type="hidden" name="hdnExcelClass" id="hdnExcelClass" />
                                    <input type="hidden" name="hdnExcelCourse" id="hdnExcelCourse" />
                                    <input type="hidden" name="hdnExcelYear" id="hdnExcelYear" />
                                    <input type="hidden" name="hdnExcelName" id="hdnExcelName" />
                                </form>
                                <button type="submit" id="btnDownloadExcel" onclick="DownloadExcel()" class="btn btn-success"><i class="fas fa-file-excel"></i></button>
                            </div>
                        </div>
                    </fieldset>


                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tblStudentList" class="table table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting sorting_asc" style="width: 10px">#</th>
                                        <th class="sorting">RegNo</th>
                                        <th class="sorting">Student</th>
                                        <th class="sorting">MobileNo</th>
                                        <th class="sorting">Year</th>
                                        <th class="sorting">Subject</th>
                                        <th class="sorting">Course</th>
                                        <th class="sorting">View</th>
                                        <th class="sorting">Select</th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>


                            </table>

                        </div>
                    </div>

                </div>
            </div>
            <!-- /.card-body -->
        </div>



    </section>
    <!-- /.content -->
</div>


@section Scripts {
    <script type="text/javascript">
        // INSERT

        var BASE_URL = "@baseUrl";
        var Toast;

        window.onload = function () {

            Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 1000
            });


            // Example 3: Change events (optional)
            $("#ddlClass, #ddlYear, #ddlCourse, #ddlRegPvt").change(function () {
                $("#tblStudentList tbody").empty();
                SearchStudent();
            });

            SearchStudent();

            //$("#ddlClass ddlSubject ddlCourse ddlRegPvt").change(function () {
            //    SearchStudent();
            //});
        };

        function Alert(icon, title, className) {
            Toast.fire({
                icon: icon,
                title: title,
                class: className,
            })
        }

        function SearchStudent() {

            var name = $("#txtSearch").val();
            var varClass = $('#ddlClass option:selected').text();
            var varYear = $('#ddlYear option:selected').text();
            var varCourse = $('#ddlCourse option:selected').text();
            var varRegPvt = $('#ddlSession option:selected').text();

            $.post(BASE_URL + "/Admission/SearchList", {
                name: name,
                classes: varClass,
                year: varYear,
                course: varCourse,
                regPvt: varRegPvt
            },
                function (res) {
                    TableData(res)  //--------pass records for generate tabble
                }
            );
        }

        function TableData(tableData)
        {
            $("#tblStudentList tbody").empty();
            $.each(tableData.data, function (index, element) {
                $("#tblStudentList").append("<tr><td>" + index + "</td><td>" + element.id + "</td><td>" + element.name +
                    "</td><td>" + element.mobileNo + "</td><td>" + element.year + "</td><td>" + element.subject +
                    "</td><td>" + element.course + "</td><td>" + element.status +
                    "</td><td> <a class='btn btn-default' href='../Student/index?id=" + element.id + "' ><i class='fas fa-eye'></i></a></td><td><input id='" + element.id +"' name='chkStudent' type='checkbox'></td></tr>");

            });



        }

        function Reset() {

            $("#txtSearch").val('');
            $('#ddlSession option:selected').prop("selected", false);
            $('#ddlClass option:selected').prop("selected", false);
            $('#ddlCourse option:selected').prop("selected", false);
            $('#ddlYear option:selected').prop("selected", false);

            SearchStudent();
        }


        function AdmissionCompleted() {
            var selectedIds = $('input[name="chkStudent"]:checked').map(function () {
                return this.id;
            }).get();

            // 2. Alert the result
            if (selectedIds.length > 0) {
                $('#hdnSelected').val(selectedIds.join(', '));
                AdmissionDone();
            } else {
                alert("Please select at least one student.");
            }

        }


        function AdmissionDone() {

            $.post(BASE_URL + "/Admission/AdmissionDone", {
                studentList: $("#hdnSelected").val()

            },
                function (res) {
                    var saveStatus = res.success;
                    if (saveStatus) {
                        Alert('success', 'Succeefully done', 'bg-success');
                        SearchStudent();
                    }
                    else
                        Alert('warning', 'Some eror occured Try Again', 'bg-success');
                    

                }
            );

        }


    </script>
}