@model CRM.ModelsForView.StudentRegistrationForView

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "New Admission";
    var baseUrl = ViewBag.BaseUrl;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Admission</a></li>
                        <li class="breadcrumb-item active">New Admission</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->


                    <div class="card card-primary">

                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="NewAdmissionPost" method="post">

                            <!-- COLLEGE DETAILS -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-university"></i> College Detail</h3>
                                </div>

                                <div class="card-body">
                                    <div class="row">



                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Session</label>
                                                <select id="ddlSession" asp-for="Session" asp-items="Model.SessionList" class="form-control">
                                                    <option>Select</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Year</label>
                                                <select id="ddlYear" asp-for="Year" asp-items="Model.YearList" class="form-control">
                                                    <option>Select</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Course</label>
                                                <select id="ddlSubject" asp-for="Course" asp-items="Model.SubjectList" class="form-control">
                                                    <option>Select</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Class</label>
                                                <select id="ddlClass" asp-for="Class" asp-items="Model.ClassList" class="form-control">
                                                    <option>Select</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Reg NO</label>
                                                <input asp-for="RegNo" type="number" class="form-control" placeholder="Form No">
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>FormNo</label>
                                                <input asp-for="FormNo" type="number" class="form-control" placeholder="Form No">
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>SchoNo</label>
                                                <input asp-for="SchoNo" type="number" class="form-control">
                                            </div>
                                        </div>


                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Sem</label>
                                                <select id="ddlSem" asp-for="Sem" class="form-control">
                                                    <option>Select</option>
                                                    <option>2026</option>
                                                    <option>2027</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Reg/Pvt.</label>
                                                <select id="ddlRegPvt" asp-for="RegPvt" class="form-control">
                                                    <option>Select</option>
                                                    <option>Reguler</option>
                                                    <option>Private</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select id="ddlStatus" asp-for="Status" class="form-control">
                                                    <option>Select</option>
                                                    <option>Inquiry</option>
                                                    <option>Done</option>
                                                    <option>Follow</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-university"></i> Fee Detail</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>New Student Fee</label>
                                                <input id="txtNewStudentFee" asp-for="Scholership" type="number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>CMondy</label>
                                                <input id="txtCMondy" asp-for="DisBy" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Tution Fee</label>
                                                <input id="txtTutionFee" asp-for="DisResion" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Other Fee</label>
                                                <input id="txtOtherFee" asp-for="DisResion" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Total Fee</label>
                                                <input id="txtTotalFee" asp-for="DisResion" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Total Fee MC</label>
                                                <input id="txtTotalFeeMC" asp-for="DisResion" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Scolership</label>
                                                <input asp-for="Scholership" type="number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>DiscountBy</label>
                                                <input asp-for="DisBy" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>DiscRegisn</label>
                                                <input asp-for="DisResion" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- PERSONAL DETAILS -->
                            <div class="card card-info mt-3">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-user"></i> Student Personal Detail</h3>
                                </div>

                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input asp-for="Name" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>MobileNo</label>
                                                <input asp-for="MobileNo" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Father Name</label>
                                                <input asp-for="FatherName" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>MotherName</label>
                                                <input asp-for="MotherName" class="form-control">
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>DOB</label>
                                                <input asp-for="DOB" type="date" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label>Gender</label>
                                            <select asp-for="Gender" class="form-control">
                                                <option>Select</option>
                                                <option>Male</option>
                                                <option>Femle</option>
                                            </select>
                                        </div>



                                        <div class="col-md-4">
                                            <label>Caste</label>
                                            <select asp-for="Caste" class="form-control">
                                                <option>Select</option>
                                                <option>Gen</option>
                                                <option>OBC</option>
                                                <option>SC</option>
                                                <option>ST</option>
                                            </select>
                                        </div>



                                    </div>
                                </div>
                            </div>


                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-university"></i> Academic Detail</h3>
                                </div>

                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>12th school Name</label>
                                                <input type="text" asp-for="SchoolName" class="form-control" placeholder="12th school Name">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Passsing Year</label>
                                                <select id="ddlAcademicYear" class="form-control">
                                                    <option>Select</option>
                                                    <option>2023</option>
                                                    <option>2024</option>
                                                    <option>2025</option>
                                                    <option>2026</option>
                                                    <option>2027</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Board</label>
                                                <input type="text" asp-for="Board" class="form-control" placeholder="Board">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Max. Marks</label>
                                                <input type="text" asp-for="MaxMark" class="form-control" placeholder="Max. Marks">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Obtain Marks</label>
                                                <input type="text" asp-for="ObtMark" class="form-control" placeholder="Obtain Marks">
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Result</label>
                                                <input type="text" asp-for="Result" class="form-control" placeholder="Result">
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Parcentage</label>
                                                <input type="text" asp-for="Parcent" class="form-control" placeholder="Parcentage">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="text-center mt-4 mb-5">

                                <button class="btn btn-primary px-4" type="submit">
                                    <i class="fas fa-save"></i> Save
                                </button>

                                <button class="btn btn-danger px-4">
                                    <i class="fas fa-times"></i> Exit
                                </button>

                            </div>


                        </form>



                    </div>

                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


@section Scripts {
    <script type="text/javascript">
      var BASE_URL = "@baseUrl";

        var varSession = "";
        var varYear = "";
        var varSubject = "";
        var varClass = "";
        var varSession = "";

        window.onload = function () {

            $("#ddlSession").change(function () {
                varSession = this.value;
                if (varSession != "" && varYear != "" && varSubject != "" && varClass != "") { FillFeeeDetail(); }
            });
            $("#ddlYear").change(function () {
                varYear = this.value;
                FillFeeeDetail();
            });
            $("#ddlSubject").change(function () {
                varSubject = this.value;
                if (varSession != "" && varYear != "" && varSubject != "" && varClass != "") { FillFeeeDetail(); }
            });
            $("#ddlClass").change(function () {
                varClass = this.value;
                if (varSession != "" && varYear != "" && varSubject != "" && varClass != "") { FillFeeeDetail(); }
            });
            $("#ddlClass").change(function () {
                varClass = this.value;
                if (varSession != "" && varYear != "" && varSubject != "" && varClass != "") { FillFeeeDetail(); }
               
            });

        };

        function FillFeeeDetail()
        {
            if (varSession != "" && varYear != "" && varSubject != "" && varClass != "")
            {

                $.post(BASE_URL + "/Admission/StudentPaymentDetail",
                    {
                    classname: varClass,
                    course: varSubject,
                    session: varSession,
                    year: varYear
                },
                    function (res) {
                        var Feedetail = res.data.feeDetail;
                        $('#txtNewStudentFee').val(Feedetail.newStudentFee);
                        $('#txtCMondy').val(Feedetail.cMoney);
                        $('#txtTutionFee').val(Feedetail.tutionFee);
                        $('#txtOtherFee').val(Feedetail.otherFee);
                        $('#txtTotalFee').val(Feedetail.totalFee);
                        $('#txtTotalFeeMC').val(Feedetail.totalFeeCM);
                    }
              );
            }
            else
            {

            }
        }


    </script>
}

