@model CRM.ModelsForView.StudentRegistrationForView

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "New Admission";
    var baseUrl = ViewBag.BaseUrl;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Admission List</a></li>
                        <li class="breadcrumb-item active">View</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->


                    <div class="card card-primary">

                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="NewAdmissionUpdatePost" method="post">

                            <input type="hidden" name="Id" asp-for="Id" />
                            <input type="hidden" name="RegFeeId" asp-for="RegFeeId" />
                            <!-- COLLEGE DETAILS -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-university"></i> College Detail</h3>
                                </div>

                                <div class="card-body">
                                    <div class="row">



                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Session</label>
                                                <select id="ddlSession" asp-for="Session" asp-items="Model.SessionList" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                                <span asp-validation-for="Session" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Year</label>
                                                <select id="ddlYear" asp-for="Year" asp-items="Model.YearList" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                                <span asp-validation-for="Year" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Class</label>
                                                <select id="ddlClass" asp-for="Class" asp-items="Model.ClassList" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                                <span asp-validation-for="Class" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Course</label>
                                                <select id="ddlSubject" asp-for="Course" asp-items="Model.SubjectList" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                                <span asp-validation-for="Course" class="text-danger"></span>
                                            </div>
                                        </div>




                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Reg NO</label>
                                                <input asp-for="Id" type="number" readonly="readonly" class="form-control" placeholder="ID No.">
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>FormNo</label>
                                                <input asp-for="FormNo" type="number" class="form-control" placeholder="Form No">
                                                <span asp-validation-for="FormNo" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>SchoNo</label>
                                                <input asp-for="SchoNo" type="number" class="form-control">
                                            </div>
                                        </div>




                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Reg/Pvt.</label>
                                                <select id="ddlRegPvt" asp-for="RegPvt" class="form-control">
                                                    <option value="">Select</option>
                                                    <option>Reguler</option>
                                                    <option>Private</option>
                                                </select>
                                                <span asp-validation-for="RegPvt" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select id="ddlStatus" asp-for="Status" class="form-control">
                                                    <option value="">Select</option>
                                                    <option>Inquiry</option>
                                                    <option>Done</option>
                                                    <option>Follow</option>
                                                </select>
                                                <span asp-validation-for="Status" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-university"></i> Fee Detail</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>New Student Fee</label>
                                                <input id="txtNewStudentFee" asp-for="NewStudentFee" type="number" readonly="readonly" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>CMondy</label>
                                                <input id="txtCMondy" asp-for="CMoney" type="number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Tution Fee</label>
                                                <input id="txtTutionFee" asp-for="TutionFee" type="number" readonly="readonly" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Other Fee</label>
                                                <input id="txtOtherFee" asp-for="OtherFee" type="number" readonly="readonly" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Total Fee</label>
                                                <input id="txtTotalFee" asp-for="TotalFee" type="number" readonly="readonly" class="form-control">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Scolership</label>
                                                <input asp-for="Scholership" type="number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>DiscountBy</label>
                                                <input asp-for="DisBy" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>DiscRegisn</label>
                                                <input asp-for="DisResion" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Total Fee After Dis </label>
                                                <input id="txtTotalFeeAfterDiscount" asp-for="TotalFeeAfterDiscount" type="number" readonly="readonly" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- PERSONAL DETAILS -->
                            <div class="card card-info mt-3">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-user"></i> Student Personal Detail</h3>
                                </div>

                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input asp-for="Name" class="form-control">
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Father Name</label>
                                                <input asp-for="FatherName" class="form-control">
                                                <span asp-validation-for="FatherName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>MotherName</label>
                                                <input asp-for="MotherName" class="form-control">
                                                <span asp-validation-for="MotherName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>MobileNo</label>
                                                <input asp-for="MobileNo" class="form-control">
                                                <span asp-validation-for="MobileNo" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>DOB</label>
                                                <input asp-for="DOB" type="date" class="form-control">
                                                <span asp-validation-for="DOB" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Gender</label>
                                            <select asp-for="Gender" class="form-control">
                                                <option value="">Select</option>
                                                <option>MALE</option>
                                                <option>FEMALE</option>
                                            </select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>



                                        <div class="col-md-2">
                                            <label>Caste</label>
                                            <select asp-for="Caste" class="form-control">
                                                <option value="">Select</option>
                                                <option>Gen</option>
                                                <option>OBC</option>
                                                <option>SC</option>
                                                <option>ST</option>
                                            </select>
                                            <span asp-validation-for="Caste" class="text-danger"></span>
                                        </div>



                                    </div>
                                </div>
                            </div>


                            <div class="text-center mt-4 mb-5">

                                <button class="btn btn-primary px-4" type="submit">
                                    <i class="fas fa-save"></i> Change Save
                                </button>

                                
                                <a class="btn btn-danger px-4" href="../Admission/Index"><i class="fas fa-times"></i> Exit</a>
                            </div>


                        </form>



                    </div>

                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


@section Scripts {
    <script src="~/ValidateJS/jquery-3.6.0.min.js"></script>

    <script src="~/ValidateJS/jquery.validate.min.js"></script>

    <script src="~/ValidateJS/jquery.validate.unobtrusive.min.js"></script>


    <script type="text/javascript">
      var BASE_URL = "@baseUrl";

        var varSession = "";
        var varYear = "";
        var varSubject = "";
        var varClass = "";
        var varSession = "";

        window.onload = function () {

            $("#Scholership").change(function () {
                varScholership = this.value;

                if (varScholership != "" && varScholership != "0")
                {
                    var varScholershipAmount = parseFloat(varScholership) || 0;
                    var varTotalFeeAmount = parseFloat($('#txtTotalFee').val()) || 0
                    $("#txtTotalFeeAfterDiscount").val(varTotalFeeAmount - varScholershipAmount);
                }
            });

            $("#ddlSession").change(function () {
                varSession = this.value;
                if (varSession != "" && varYear != "" && varSubject != "" && varClass != "") { FillFeeeDetail(); }
            });
            $("#ddlYear").change(function () {
                varYear = this.value;
                if (varSession != "" && varYear != "" && varSubject != "" && varClass != "") { FillFeeeDetail(); }
            });
            $("#ddlSubject").change(function () {
                varSubject = this.value;
                if (varSession != "" && varYear != "" && varSubject != "" && varClass != "") { FillFeeeDetail(); }
            });
            $("#ddlClass").change(function () {
                varClass = this.value;
                if (varSession != "" && varYear != "" && varSubject != "" && varClass != "") { FillFeeeDetail(); }
            });
            $("#ddlClass").change(function () {
                varClass = this.value;
                if (varSession != "" && varYear != "" && varSubject != "" && varClass != "") { FillFeeeDetail(); }

            });



        };

        function FillFeeeDetail()
        {
            if (varSession != "" && varYear != "" && varSubject != "" && varClass != "")
            {

                $.post(BASE_URL + "/Admission/StudentPaymentDetail",
                    {
                    classname: varClass,
                    course: varSubject,
                    session: varSession,
                    year: varYear
                },
                    function (res) {
                        var Feedetail = res.data.feeMasterDetail;
                        $('#txtNewStudentFee').val(Feedetail.newStudentFee);
                        $('#txtCMondy').val(Feedetail.cMoney);
                        $('#txtTutionFee').val(Feedetail.tutionFee);
                        $('#txtOtherFee').val(Feedetail.otherFee);
                        $('#txtTotalFee').val(Feedetail.totalFee);
                        $('#txtTotalFeeAfterDiscount').val(Feedetail.totalFee);

                    }
              );
            }
            else
            {

            }
        }


    </script>
}

