@model CRM.ModelsForView.FeeViewModel

@{
    ViewData["Title"] = "Add Fee";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

    var baseUrl = ViewBag.BaseUrl;
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Fee</a></li>
                        <li class="breadcrumb-item active">Add New Fee</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">

                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="FeePost" method="post">

                            <!-- COLLEGE DETAILS -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fas fa-university"></i> Class Detail</h3>
                                </div>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Class</label>
                                                <select id="ddlSubject" asp-for="Subject" asp-items="Model.ClassList" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Course</label>
                                                <select id="ddlCourse" asp-for="Course" asp-items="Model.SubjectList" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Session</label>
                                                <select id="ddlSession" class="form-control"  asp-items="Model.SessionList" asp-for="Session">
                                                    <option>Select</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>NewOld</label>
                                                <select id="ddlNewOld" class="form-control" asp-for="NewOld">
                                                    <option>Select</option>
                                                    <option>New</option>
                                                    <option>Old</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Year</label>
                                                <select id="ddlYear" class="form-control" asp-for="Year">
                                                    <option>Select</option>
                                                    <option>2026</option>
                                                    <option>2027</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>New Admin Fee</label>
                                                <input id="txtNewStudentFee" asp-for="NewStudentFee" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>C. Money</label>
                                                <input  id="txtCMoney" asp-for="CMoney"   class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Tution Fee</label>
                                                <input id="txtTutionFee" asp-for="TutionFee"  class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Other Fees</label>
                                                <input   id="txtOtherFee" asp-for="OtherFee" class="form-control">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Total Fee</label>
                                                <input  id="txtTotalFeeCM" asp-for="TotalFee" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Total + C. Money</label>
                                                <input class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            

                          

                            <div class="text-center mt-4 mb-5">

                                <button class="btn btn-primary px-4" type="submit">
                                    <i class="fas fa-save"></i> Save
                                </button>

                                <a class="btn btn-danger px-4" href="@Url.Action("index", "Fee")">
                                    <i class="fas fa-times"></i> Exit
                                </a>

                            </div>

                        </form>



                    </div>

                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

