@model CRM.ModelsForView.StudentListView
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Payment";
    var baseUrl = ViewBag.BaseUrl;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Payment</a></li>
                        <li class="breadcrumb-item active"><a href="#">List</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Filters</legend>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Session</label>
                                        <select id="ddlSession" asp-items="Model.SessionList" class="form-control"> <option>Select</option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Year</label>
                                    <select id="ddlYear" asp-items="Model.YearList" class="form-control"> <option>Select</option></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Class</label>
                                    <select id="ddlClass" asp-items="Model.ClassList" class="form-control"> <option>Select</option></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Course</label>
                                    <select id="ddlCourse" asp-items="Model.SubjectList" class="form-control"> <option>Select</option></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Name</label>
                                <input id="txtSearch" class="form-control" type="search" placeholder="Search" aria-label="Search">
                            </div>



                        </div>

                        <div class="row" style="margin-bottom:5px !important">
                            <div class="col-md-8">

                            </div>
                            <div class="col-md-2">
                                <button type="button" id="btnSearch" onclick="SearchStudent()" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                            </div>
                            <div class="col-md-1">
                                <button type="reset" class="btn btn-default" onclick="Reset()"><i class="fas fa-gear"></i> Reset</button>
                            </div>
                           
                            <div class="col-md-1">
                                <form id="frmDownloadExcel" method="post" action="DownloadExcel">
                                    <input type="hidden" name="hdnExcelSession" id="hdnExcelSession" />
                                    <input type="hidden" name="hdnExcelClass" id="hdnExcelClass" />
                                    <input type="hidden" name="hdnExcelCourse" id="hdnExcelCourse" />
                                    <input type="hidden" name="hdnExcelYear" id="hdnExcelYear" />
                                    <input type="hidden" name="hdnExcelName" id="hdnExcelName" />
                                </form>
                                <button type="submit" id="btnDownloadExcel" onclick="DownloadExcel()" class="btn btn-success"><i class="fas fa-file-excel"></i></button>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row" style="margin-bottom:5px !important">
                        <div class="col-sm-12">

                            <div class="input-group input-group-sm">
                                <input id="txtSearch" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button id="btnSearch" onclick="SearchStudent()" class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tblStudentList" class="table table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting sorting_asc" style="width: 10px">#</th>
                                        <th class="sorting">FormNo</th>
                                        <th class="sorting">Student</th>
                                        <th class="sorting">Year</th>
                                        <th class="sorting">Subject</th>
                                        <th class="sorting">Course</th>
                                        <th class="sorting">MobileNo</th>
                                        <th class="sorting">View</th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>


                            </table>

                        </div>
                    </div>

                </div>
            </div>
            <!-- /.card-body -->
        </div>



    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="modal-Promod">
    <div class="modal-dialog" style="max-width:650px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class='fas fa-university'></i> Payment Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <!-- Widget: user widget style 1 -->
                        <div class="card card-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-info">
                                <h3 class="widget-user-username" id="achStudentName"></h3>
                                <h5 class="widget-user-desc" id="achSession"></h5>
                            </div>
                            <div class="widget-user-image">
                                <img id="imgStudentPhoto" class="img-circle elevation-2" src="~/dist/img/user7-128x128.jpg" alt="User Avatar">
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <span class="description-text">Year</span>
                                            <h5 class="description-header" id="achYear"></h5>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <span class="description-text">Class</span>
                                            <h5 class="description-header" id="achClass"></h5>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <span class="description-text">Course</span>
                                            <h5 class="description-header" id="achCourse"></h5>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <span class="description-text">Total Fee</span>
                                            <h5 class="description-header" id="achTotalFee"></h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <span class="description-text">Paid Fee</span>
                                            <h5 class="description-header" id="achPaid"></h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <span class="description-text">Scholership</span>
                                            <h5 class="description-header" id="achScholer"></h5>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                   
                    </div>
                    <div class="col-md-12">
                        teste
                    </div>
                   
                </div>

                

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="SavePromosionDetail();" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        // INSERT

        var BASE_URL = "@baseUrl";


        window.onload = function () {

            // Example 3: Change events (optional)
            $("#ddlClass, #ddlCourse, #ddlYear, #ddlSession").change(function () {
                $("#tblStudentList tbody").empty();
                SearchStudent();
            });

            SearchStudent();

        };

        function Reset() {

            $("#txtSearch").val('');
            $('#ddlSession option:selected').prop("selected", false);
            $('#ddlClass option:selected').prop("selected", false);
            $('#ddlCourse option:selected').prop("selected", false);
            $('#ddlYearss option:selected').prop("selected", false);

            SearchStudent();
        }

        function SearchStudent() {

            var name = $("#txtSearch").val();
            var varClass = $('#ddlClass option:selected').text();
            var varCourse = $('#ddlCourse option:selected').text();
            var varYear = $('#ddlYear option:selected').text();
            var varSession = $('#ddlSession option:selected').text();

            $.post(BASE_URL + "/Payment/SearchList", {
                name: name,
                classes: varClass,
                course: varCourse,
                year: varYear,
                session: varSession
            },
                function (res) {
                    TableData(res)  //--------pass records for generate tabble
                }
            );
        }

        function TableData(tableData)
        {
            $("#tblStudentList tbody").empty();
            $.each(tableData.data, function (index, element) {
                $("#tblStudentList").append("<tr><td>" + index + "</td><td>" + element.admissionFormNo +
                    "</td><td>" + element.studentName + "</td><td>" + element.class + "</td><td>" + element.course +
                    "</td><td>" + element.course + "</td><td>" + element.mobileNoOne +
                   // "</td><td> <a class='btn btn-default' href='../Student/index?id=" + element.id + "' >Payment</a></td></tr>");
                    "</td><td><button type='button' class='btn btn-info btn-flat'>Action</button>" +
                    "<button type='button' class='btn btn-info btn-flat dropdown-toggle dropdown-icon' data-toggle='dropdown'>" +
                    "<span class='sr-only'>Toggle Dropdown</span></button>" +
                    "<div class='dropdown-menu' role='menu'>" +
                   // "<a class='dropdown-item' onclick='PaymentDetail(" + element.id + ")' ><i class='fas fa-university'></i> Payment</a>" +
                    "<a class='btn btn-default' href='../Payment/PaymentDetail?id=" + element.id + "' ><i class='fas fa-eye'></i> Pay </a>" +
                    "<a class='dropdown-item' data-toggle='modal' data-target='#modal-View'><i class='fas fa-eye'></i> View Detail</a>" +
                    "<a class='btn btn-default' href='../Student/index?id=" + element.id + "' ><i class='fas fa-eye'></i> Update Detail</a>" +
                    "</div></div></td></tr>");

            });



        }

        //------------------Promossion PopUp----------------------

        function PaymentDetail(id) {
            var id = id;
            $.post(BASE_URL + "/Payment/StudentPaymentDetail", {
                id: id
            },
                function (res) {
                   
                    var detail = res.data.studentDetail;
                    $('#imgStudentPhoto').attr('src', detail.photo);
                    $('#achStudentName').text(detail.studentName + " / " + detail.fatherName)
                    $('#achYear').text(detail.year)
                    $('#achClass').text(detail.class)
                    $('#achCourse').text(detail.course)
                    $('#achSession').text( detail.session + " / FormNo. " + detail.admissionFormNo)

                    //------------------Fee Detail-------
                    var feedetail = res.data.studentFeeDetail;
                    $('#achTotalFee').text(feedetail.totalFeeAfterDiscount);
                    $('#achPaid').text(feedetail.paidAmount);
                    $('#achScholer').text(feedetail.scholership);
                    $("#modal-Promod").modal("show");

                }
            );
        }


    </script>
}

