@model CRM.ModelsForView.StudentListView
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Payment";
    var baseUrl = ViewBag.BaseUrl;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Payment</a></li>
                        <li class="breadcrumb-item active"><a href="#">List</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Class</label>
                                <select id="ddlClass" asp-items="Model.ClassList" class="form-control"> <option>Select</option></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Course</label>
                                <select id="ddlCourse" asp-items="Model.SubjectList" class="form-control"> <option>Select</option></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Year</label>
                                <select id="ddlYear" asp-items="Model.YearList" class="form-control"> <option>Select</option></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Session</label>
                                    <select id="ddlSession" asp-items="Model.SessionList" class="form-control"> <option>Select</option></select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="margin-bottom:5px !important">
                        <div class="col-sm-12">

                            <div class="input-group input-group-sm">
                                <input id="txtSearch" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button id="btnSearch" onclick="SearchStudent()" class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div id="testDiv"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="tblStudentList" class="table table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting sorting_asc" style="width: 10px">#</th>
                                        <th class="sorting">RegNo</th>
                                        <th class="sorting">FormNo</th>
                                        <th class="sorting">Student</th>
                                        <th class="sorting">Year</th>
                                        <th class="sorting">Subject</th>
                                        <th class="sorting">Course</th>
                                        <th class="sorting">MobileNo</th>
                                        <th class="sorting">View</th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>


                            </table>

                        </div>
                    </div>

                </div>
            </div>
            <!-- /.card-body -->
        </div>



    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="modal-Promod">
    <div class="modal-dialog" style="max-width:650px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class='fas fa-university'></i> Promod Student</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="user-block">
                        <img id="imgStudentPhoto" class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                        <span class="username">
                            <a href="#" id="achStudentName"></a>
                            <a href="#" class="float-right btn-tool"></a>
                        </span>
                        <span class="description" id="spnAcademicDetail"></span>
                        <span class="description" id="spnDetail"></span>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="SavePromosionDetail();" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        // INSERT

        var BASE_URL = "@baseUrl";


        window.onload = function () {

            // Example 3: Change events (optional)
            $("#ddlClass, #ddlCourse, #ddlYear, #ddlSession").change(function () {
                $("#tblStudentList tbody").empty();
                SearchStudent();
            });

            SearchStudent();

        };


        function SearchStudent() {

            var name = $("#txtSearch").val();
            var varClass = $('#ddlClass option:selected').text();
            var varCourse = $('#ddlCourse option:selected').text();
            var varYear = $('#ddlYear option:selected').text();
            var varSession = $('#ddlSession option:selected').text();

            $.post(BASE_URL + "/Payment/SearchList", {
                name: name,
                classes: varClass,
                course: varCourse,
                year: varYear,
                session: varSession
            },
                function (res) {
                    TableData(res)  //--------pass records for generate tabble
                }
            );
        }

        function TableData(tableData)
        {
            $("#tblStudentList tbody").empty();
            debugger;
            $.each(tableData.data, function (index, element) {
                $("#tblStudentList").append("<tr><td>" + index + "</td><td>" + element.schoolarNo + "</td><td>" + element.rollNo +
                    "</td><td>" + element.studentName + "</td><td>" + element.class + "</td><td>" + element.course +
                    "</td><td>" + element.course + "</td><td>" + element.mobileNoOne +
                   // "</td><td> <a class='btn btn-default' href='../Student/index?id=" + element.id + "' >Payment</a></td></tr>");
                    "</td><td><button type='button' class='btn btn-info btn-flat'>Action</button>" +
                    "<button type='button' class='btn btn-info btn-flat dropdown-toggle dropdown-icon' data-toggle='dropdown'>" +
                    "<span class='sr-only'>Toggle Dropdown</span></button>" +
                    "<div class='dropdown-menu' role='menu'>" +
                    "<a class='dropdown-item' onclick='PaymentDetail(" + element.id + ")' ><i class='fas fa-university'></i> Payment</a>" +
                    "<a class='dropdown-item' data-toggle='modal' data-target='#modal-View'><i class='fas fa-eye'></i>> View Detail</a>" +
                    "<a class='btn btn-default' href='../Student/index?id=" + element.id + "' ><i class='fas fa-eye'></i>> Update Detail</a>" +
                    "</div></div></td></tr>");

            });



        }

        //------------------Promossion PopUp----------------------

        function PaymentDetail(id) {
            var id = id;
            $.post(BASE_URL + "/Student/StudentDetail", {
                id: id
            },
                function (res) {
                    var detail = res.data;
                    $('#imgStudentPhoto').attr('src', detail.photo);
                    $('#achStudentName').text(detail.studentName)
                    var varStudyDetail = detail.year + " / " + detail.course + " / " + detail.class + " / " + detail.session;
                    var varAcademyDetail = detail.admissionFormNo + " / " + detail.fatherName;
                    $('#spnDetail').text(varStudyDetail)
                    $('#spnAcademicDetail').text(varAcademyDetail)

                    

                    $("#modal-Promod").modal("show");

                }
            );
        }


    </script>
}

