@model CRM.ModelsForView.StudentListView
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "List";
    var baseUrl = ViewBag.BaseUrl;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">Student</a></li>
                        <li class="breadcrumb-item active"><a href="#">List</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Class</label>
                                <select id="ddlClass" asp-items="Model.ClassList" class="form-control"> <option>Select</option></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Course</label>
                                <select id="ddlCourse" asp-items="Model.SubjectList" class="form-control"> <option>Select</option></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Year</label>
                                <select id="ddlYear" asp-items="Model.YearList" class="form-control"> <option>Select</option></select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Session</label>
                                    <select id="ddlSession" asp-items="Model.SessionList" class="form-control"> <option>Select</option></select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="margin-bottom:5px !important">
                        <div class="col-md-8">
                            <div class="input-group input-group-sm">
                                <input id="txtSearch" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class=" float-lg-right">
                                <button type="button" id="btnSearch" onclick="SearchStudent()" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                                <button type="reset" class="btn btn-flat" onclick="Reset()"><i class="fas fa-gear"></i> Reset</button>
                                <form id="frmDownloadExcel"></form>
                                <button type="submit" id="btnDownloadExcel" onclick="DownloadExcel()" class="btn btn-success"><i class="fas fa-file-excel"></i> Download Excel</button>
                            </div>
                        </div>

                    </div>
                    
                    <div class="row">
                           <div class="col-sm-12">
                            <table id="tblStudentList" class="table table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting sorting_asc" style="width: 10px">#</th>
                                        <th class="sorting">RegNo</th>
                                        <th class="sorting">FormNo</th>
                                        <th class="sorting">Student</th>
                                        <th class="sorting">Year</th>
                                        <th class="sorting">Subject</th>
                                        <th class="sorting">Course</th>
                                        <th class="sorting">MobileNo</th>
                                        <th class="sorting">Action</th>
                                        <th class="sorting">Select</th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>


                            </table>

                        </div>
                    </div>

                </div>
            </div>
            <!-- /.card-body -->
        </div>

    </section>
    <!-- /.content -->
</div>


<div class="modal fade" id="modal-Promod">
    <div class="modal-dialog" style="max-width:650px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class='fas fa-university'></i> Promod Student</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="user-block">
                        <img id="imgStudentPhoto" class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                        <span class="username">
                            <a href="#" id="achStudentName"></a>
                            <a href="#" class="float-right btn-tool"></a>
                        </span>
                        <span class="description" id="spnAcademicDetail"></span>
                        <span class="description" id="spnDetail"></span>
                        <input type="hidden" id="hdnID" />
                        <input type="hidden" id="hdnClass" />
                        <input type="hidden" id="hdnYear" />
                        <input type="hidden" id="hdnSession" />
                        <input type="hidden" id="hdnCourse" />
                        <input type="hidden" id="hdnAdmissionDate" />
                        <input type="hidden" id="hdnAdmisionFormNo" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>College</label>
                            <input type="text" id="txtPassedCollege" class="form-control" placeholder="12th school Name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Passsing Year</label>
                            <select id="ddlPassedYear" class="form-control">
                                <option>Select</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                                <option>2027</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Board</label>
                            <input type="text" id="txtPassedBoard" class="form-control" placeholder="Board">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Max. Marks</label>
                            <input type="number" id="txtMaxMark" class="form-control" placeholder="Max. Marks">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Obtain Marks</label>
                            <input type="number" id="txtObtainMark"  class="form-control" placeholder="Obtain Marks">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Result</label>
                            <input type="text"  id="txtResult" class="form-control" placeholder="Result">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Parcentage</label>
                            <input type="number" id="txtParcentage" class="form-control" placeholder="Parcentage">
                        </div>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Mobile No</label>
                            <input id="txtMbileNo" name="txtMbileNo" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Admission Date</label>
                            <input id="txtAdmissionDate" name="txtAdmissionDate" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Admision Form No</label>
                            <input id="txtAdmissionForm" name="txtAdmissionForm" type="text" class="form-control">
                        </div>
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Class</label>
                            <select id="ddlProdClass" asp-items="Model.ClassList" class="form-control"> <option>Select</option></select>
                        </div>
                    </div>
                 
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Year</label>
                            <select id="ddlProdYear" asp-items="Model.YearList" class="form-control"> <option>Select</option></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Course</label>
                            <select id="ddlProdCourse" asp-items="Model.SubjectList" class="form-control"> <option>Select</option></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Session</label>
                            <select id="ddlProdSession" asp-items="Model.SessionList" class="form-control"> <option>Select</option></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="SavePromosionDetail();" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-View">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Student</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Class Name</label>
                    <input type="text" id="className" class="form-control" />
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save changes</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript">
        // INSERT

        var BASE_URL = "@baseUrl";


        
        window.onload = function () {

            // Example 3: Change events (optional)
            $("#ddlClass, #ddlYear, #ddlCourse, #ddlSession").change(function () {
                $("#tblStudentList tbody").empty();
                SearchStudent();
            });

            SearchStudent();

           

            //$("#ddlClass ddlSubject ddlCourse ddlRegPvt").change(function () {
            //    SearchStudent();
            //});
        };

        function DownloadExcel()
        {

            $('form#frmDownloadExcel').submit();

        }


        function Reset() {

           $("#txtSearch").val('');
           $('#ddlClass option:selected').prop("selected", false);
            $('#ddlYear option:selected').prop("selected", false);
           $('#ddlCourse option:selected').prop("selected", false);
           $('#ddlRegPvt option:selected').prop("selected", false);

            SearchStudent();
        }


        function SearchStudent() {

            var name = $("#txtSearch").val();
            var varClass = $('#ddlClass option:selected').text();
            var varYear = $('#ddlYear option:selected').text();
            var varCourse = $('#ddlCourse option:selected').text();
            var varSession = $('#ddlSession option:selected').text();

            $.post(BASE_URL + "/Student/SearchList", {
                name: name,
                classes: varClass,
                course: varCourse,
                year: varYear,
                session: varSession
            },
                function (res) {

                    TableData(res)  //--------pass records for generate tabble
                }
            );
        }

        function TableData(tableData)
        {
            $("#tblStudentList tbody").empty();
            $.each(tableData.data, function (index, element) {

                $("#tblStudentList").append("<tr><td>" + index + "</td><td>" + element.id + "</td><td>" + element.admissionFormNo +
                    "</td><td>" + element.studentName + "</td><td>" + element.year + "</td><td>" + element.class +
                    "</td><td>" + element.course + "</td><td>" + element.mobileNoOne +
                    "</td><td><button type='button' class='btn btn-info btn-flat'>Action</button>" +
                    "<button type='button' class='btn btn-info btn-flat dropdown-toggle dropdown-icon' data-toggle='dropdown'>" +
                    "<span class='sr-only'>Toggle Dropdown</span></button>" +
                    "<div class='dropdown-menu' role='menu'>" +
                    "<a class='dropdown-item'  onclick='PromosionDetail(" + element.id + ")'  ><i class='fas fa-university'></i> Promod</a>" +
                    "<a class='dropdown-item' data-toggle='modal' data-target='#modal-View'><i class='fas fa-eye'></i>> View</a>" +
                    "<a class='btn btn-default' href='../Student/index?id=" + element.id + "' ><i class='fas fa-eye'></i>> Update Detail</a>" +
                    "</div></div></td>" +
                    "<td><input id='' type='checkbox'></td></tr>");

            });



        }


        //----------Download excel file-------------
        function ExcelDownload() {

            var name = $("#txtSearch").val();
            var varClass = $('#ddlClass option:selected').text();
            var varSubject = $('#ddlSubject option:selected').text();
            var varCourse = $('#ddlCourse option:selected').text();
            var varRegPvt = $('#ddlRegPvt option:selected').text();

            $.post(BASE_URL + "/Student/DownloadExcel", {
                name: name,
                classes: varClass,
                subject: varSubject,
                course: varCourse,
                regPvt: varRegPvt
            },
                function (res) {
                    TableData(res)  //--------pass records for generate tabble
                }
            );
        }

        //------------------Promossion PopUp----------------------

        function PromosionDetail(id)
        {
            var id = id;
            $.post(BASE_URL + "/Student/StudentDetail", {
                id: id
            },
            function (res) {
                var detail = res.data;
                $('#imgStudentPhoto').attr('src', detail.photo);
                $('#achStudentName').text(detail.studentName)
                var varStudyDetail = detail.year + " / " + detail.course + " / " + detail.class + " / " + detail.session;
                var varAcademyDetail = detail.admissionFormNo + " / " + detail.fatherName;
                $('#spnDetail').text(varStudyDetail)
                $('#spnAcademicDetail').text(varAcademyDetail)

                $('#txtMbileNo').val(detail.mobileNoOne);
                $('#hdnID').val(id);
                $('#hdnClass').val(detail.class);
                $('#hdnYear').val(detail.year);
                $('#hdnSession').val(detail.session);
                $('#hdnCourse').val(detail.course);
                $('#hdnAdmissionDate').val(detail.admissionDate);
                $('#hdnAdmisionFormNo').val(detail.admissionFormNo);

                $("#modal-Promod").modal("show");
                   
            }
            );
        }
           


        function SavePromosionDetail() {
            var id = $("#hdnID").val();
           
            var newAdmissionDate = $("#txtAdmissionDate").val();
            var newAdmisionFormNo = $("#txtAdmissionForm").val();
            var newClass = $('#ddlProdClass option:selected').text();
            var newYear = $('#ddlProdYear option:selected').text();
            var newCourse = $('#ddlProdCourse option:selected').text();
            var newSession = $('#ddlProdSession option:selected').text();
            var newMbileNo = $("#txtMbileNo").val();

            var passedAdmissionDate = $("#hdnAdmissionDate").val();
            var passedAdmisionFormNo = $("#hdnAdmisionFormNo").val();
            var passedClass = $("#hdnClass").val();
            var passedYear = $("#hdnYear").val();
            var passedCourse = $("#hdnCourse").val();
            var passedSession = $("#hdnSession").val();
            var passedCollege = $("#txtPassedCollege").val();
            var passedBoard = $("#txtPassedBoard").val();
            var passedMaxMark = $("#txtMaxMark").val();
            var passedObtainMark = $("#txtObtainMark").val();
            var passedResult = $("#txtResult").val();
            var passedParcentage = $("#txtParcentage").val();

            $.post(BASE_URL + "/Student/SavePromossionDetail", {
                id: id,
                newAdmissionDate: newAdmissionDate,
                newAdmisionFormNo: newAdmisionFormNo,
                newClass: newClass,
                newYear: newYear,
                newCourse: newCourse,
                newSession: newSession,
                newMbileNo: newMbileNo,
                passedAdmissionDate: passedAdmissionDate,
                passedAdmisionFormNo: passedAdmisionFormNo,
                passedClass: passedClass,
                passedYear: passedYear,
                passedCourse: passedCourse,
                passedSession: passedSession,
                passedCollege: passedCollege,
                passedBoard: passedBoard,
                passedMaxMark: passedMaxMark,
                passedObtainMark: passedObtainMark,
                passedResult: passedResult,
                passedParcentage: passedParcentage,
            },
                function (res) {
                    $("#modal-Promod").modal("hide");
                    SearchStudent();
                }
            );
        }

    </script>
}

